.chat {
  display: flex;
  flex-direction: column;
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
}

.top {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd35;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.texts span {
  font-size: 18px;
  font-weight: bold;
}

.texts p {
  font-size: 14px;
  font-weight: 300;
  color: #a5a5a5;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons img {
  width: 20px;
  height: 20px;
}

.center {
  padding: 20px;
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling for messages */
}

.message {
  display: flex;
  gap: 20px;
}

.message img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.message.own {
  align-self: flex-end;
}

.message.own .texts p {
  background-color: #5183fe;
  color: white; /* Ensure text is readable on the background color */
}

.texts img {
  max-width: 100%; /* Ensure images don't overflow their containers */
  max-height: 300px; /* Limit the height of images to prevent overflow */
}

.texts p {
  padding: 10px; /* Reduce padding for messages */
  background-color: rgba(17, 25, 40, 0.3);
  border-radius: 10px;
}

.texts span {
  font-size: 13px;
}

.bottom {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dddddd35;
  gap: 20px;
  margin-top: auto;
}

.bottom .icons img {
  cursor: pointer;
}

input[type="text"] {
  flex: 1;
  background-color: rgba(17, 25, 40, 0.5);
  border: none;
  outline: none;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.emoji {
  position: relative;
}

.picker {
  position: absolute;
  bottom: 50px;
  left: 0;
}

.sendButton {
  background-color: #5183fe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
