* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 80vw;
  height: 98vh;
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  backdrop-filter: blur(19px) saturate(100%);
  border: 1px solid rgba(255, 255, 255, 0.121);
  display: flex;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #dddddd35;
  border-radius: 10px;
}
